<!DOCTYPE html>
<html>
<head>
	<title>Create your account</title>
</head>
<body>
	<form action="http://localhost:5000/profil" method="POST">
		<center><h1> Create your Account</h1></center>
		<p>First Name<input type="text" name="First Name"></p>
		<p>Last Name<input type="text" name="Last Name"></p>
		<p>Username<input type="text" name="Username"></p>
		<p>Email<input type="text" name="Email"></p>
		<p>Password<input type="Password" name="Password"></p>
		<p>Submit<input type="submit" value="Submit">
	</form>
</body>
</html>